*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: sans-serif;
    font-weight: 800;
    margin: 15px 0;
}
.container{
    display: flex;
}
.container .section{
    width: 350px;
    margin: 20px 50px;
}
.section .info{
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.info span , .info h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: white;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    background : rgb(242, 233, 176);
    height: 220px;
    border: solid black 2px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5% ;
}
.photo-rock{
    width: 65%;
    height: 60%;
    background-image: url('../image/RockPNG.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.scissors{
    width: 65%;
    height: 65%;
    background-image: url("../image/Scissors-PNG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h2{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}
.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
}
.Choois{
    width: 50%;
    height: 65%;
    margin: 0 20px;
    padding: 10px;
    border-radius: 50%;
    background : rgb(245, 247, 170);
    cursor: pointer;
}

.selection button img{
    height: 30px ;
    width: 40px ;  
}
